* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  background-image: url(../../images/background_texture_1920x1080.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-principal {
  position: relative;
  width: 100vw;
}

.banner-principal img {
  width: 100%;
  height: 580px;
  display: block;
}

.botaoSaibaMais {
  position: absolute;
  bottom: -25px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #65901b;
  color: #fff;
  border: none;
  border-radius: 100px;
  width: 200px;
  height: 50px;
  padding: 10px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botaoSaibaMais:hover {
  background-color: #8ca82e;
}

.sobre-massagista {
  padding: 30px 15px;
  //background-color: #fefcf6;
  font-family: "Georgia", serif;
  width: 100%;
  
  margin: 10;
  
}


.titulo {
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.card-massagista {
  display: flex;
  align-items: center;
  background-color: #e3c49a;
  border: 2px solid #a87a1d;
  border-radius: 8px;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  margin: 0;
}


.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 140px;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #a87a1d;
  object-fit: cover;
}

.name {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

.text-container {
  flex: 1;
}

.description {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5;
}
