.main-header {
  width: 100%;
  background-image: url(../../images/background_texture_1920x1080.jpg);
  padding: 10px 20px;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logoirinha img {
      width: 300px;
      height: auto;
    }

    .menu {
      display: flex;
      align-items: center;
      gap: 20px;

      a {
        color: #333;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 2px;
          left: 0;
          bottom: -5px;
          background-color: #a6ce39;
          transition: width 0.3s;
        }

        &:hover::after {
          width: 100%;
        }
      }

      .botaoAgendarSessao {
        background-color: #65901b;
        color: white;
        border: none;
        border-radius: 50px;
        padding: 10px 30px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #8ca82e;
        }
      }
    }
  }

  // Responsividade para telas menores
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .logoirinha img {
        width: 200px;
      }

      .menu {
        flex-direction: column;
        gap: 15px;
        margin-top: 20px;

        .botaoAgendarSessao {
          width: 100%;
        }
      }
    }
  }
}
