

.footer{

        width: 100%;  
        height: 250px; 
        border: 2px;
        background-color: #2B2A2A;
    
}

.link {
   text-align: left;
   color: #65901B;
}

.contatos {
text-align: center;
color: #65901B;
}

.horarios{
text-align: right;
color: #65901B;
}